body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(98, 98, 98));
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* background: #333; */
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(98, 98, 98));
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    /* margin-right: 30px; */
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 11px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(226, 96, 9);
}

.ulist{
    margin-top: 14px;
    padding: 2px;
    /* margin-left: 40px; */
    
}

#signup{
    background-color: rgb(226, 96, 9);
    color: white;
    border-radius: 5px;
    padding: 7px;
    margin-top: 9px;
    margin-left: 30px;
}
#signup:hover {
    color: white;
    background-color: #7c0000; /* Adjust the color as needed */
}

section{
    padding: 60px 20px;
}

#home{
    background: url('3d-gym-equipment.jpg') no-repeat center center/cover;
    color: rgb(243, 235, 235);
    text-align: center;
    padding: 200px;
    margin-top: 70px;
}

#home h1{
    font-size: 8rem;  
    background: -webkit-linear-gradient(#eee, rgb(226, 96, 9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#home p{
    font-size: 2rem;
    background: -webkit-linear-gradient(#eee, rgb(226, 96, 9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about {
    /* background: #8381813b; */
    color: white;
    margin-top: -20px;
}

.carousel-item img {
    width: 300px;
    height: 500px;
    object-fit: cover;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
  }

#abc{
    color: white;
}

#listing{
    margin-left: 200px;
}

#aboutdiv{
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(98, 98, 98));
    padding: 50px;
    border-radius: 10px;
    font-size: 20px;
}

#city-dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    appearance: none; 
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    background-color: #f1f1f1;
    cursor: pointer;
    outline: none;
    margin-left: -1px; 
}

#search-button:hover {
    background-color: rgb(231, 161, 114);
}

#aboutdiv h2 {
    color: rgb(226, 96, 9);
}

#aboutdiv h4{
    color: rgb(226, 96, 9);
}

#mail{
    text-decoration: none;
}

/* Panels css */

.panel-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .panel {
    /* background-color: #f5f5f5; */
    background: url(Panelbackground.jpg) no-repeat center center/cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s ease;
    width: 350px; /* Adjust the width as needed */
    padding: 15px;
  }
  
  .panel:hover {
    transform: translateY(-10px);
  }
  
  .gymImage {
    border-bottom: 2px solid #ddd;
    height: 250px; /* Adjust the height as needed */
    object-fit: cover;
    width: 100%;
  }
  
  .panel h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .panel p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .bookButton {

    background-color: rgb(226, 96, 9); /* Adjust the color as needed */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .bookButton:hover {
    background-color: #7c0000; /* Adjust the color as needed */
  }

  #listing{
    color: white;
  }

  #panel11{
    color: white;
  }



  /* Footer Component  */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background: #333;
    color: white;
    padding: 20px 0;
    
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(98, 98, 98));
}

.footer-business,
.footer-contact {
    width: 30%;
}

.footer-business h3,
.footer-contact h3 {
    margin-bottom: 10px;
}

.footer-business ul {
    list-style: none;
    padding: 0;
}

.footer-business ul li {
    margin-bottom: 10px;
}

.footer-business ul li a {
    color: white;
    text-decoration: none;
}

.footer-business ul li a:hover {
    text-decoration: underline;
}

.business-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    color: white;
    background-color: rgb(226, 96, 9); /* Orange color */
    border: none;
    cursor: pointer;
    text-align: center;
}

.business-button:hover {
    background-color: #7c0000;
    
}

.footer-contact p {
    margin: 0 0 10px;
}

.footer-bottom {
    background: #222;
    text-align: center;
    padding: 10px 0;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: none;
    color: rgb(226, 96, 9);
}

.footer-contact h3{
    color: rgb(226, 96, 9);
}






  
  